body{
	background-color: #303032;
}

/*------ LOGO ------*/ 

.img-principal{
	padding-top: 100px;
	width: 150px;
}

.t-logo{
	font-weight: 600;
	font-size: 40px;
	color: #F29809;
	margin: 0;
}

/*------ DATOS ------*/ 
.los-input{
	margin-top: 0;
}

#mail,
#contrasena{
	background-color: #FFF;
	margin:0;
	padding: 4px 0;
}

.btn{
	width: 100%;
	background-color: #F29809;
}

.olvido p{
	margin: 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #F29809;
    box-shadow: 0 1px 0 0 #F29809;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
	color: #F29809;
}

/*------ REGISTRO ------*/ 
