body{
	background-color: #303032;
}

/*------ LOGO ------*/ 

.img-principal{
	padding-top: 100px;
	width: 150px;
}

.t-logo{
	font-weight: 600;
	font-size: 40px;
	color: #F29809;
	margin: 0;
}

/*------ DATOS ------*/ 
.los-input{
	margin-top: 0;
}

.blanco{
	background-color: #FFF;
	margin: 0;
}

.caja-blanco{
	margin: 0;
}

.input-field .prefix.active{
	color: #F29809;
}

#mail,
#contrasena{
	background-color: #FFF;
	padding: 4px 0;
	margin-bottom: 0;
}

.btn, .btn:focus{
	width: 100%;
	background-color: #F29809;
}

.btn:hover{
    background-color: #CC7400;
}

.olvido p{
	margin-top: 10px;
	color: #FFF;
	font-weight: 300;
	font-size: 13px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default).valid{
	border-bottom: 1px solid #F29809;
    box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
	color: #F29809;
}


/*------ REGISTRO ------*/ 
.registro h6{
	color: #FFF;
	font-weight: 300;	
}

.registro h6 span{
	color: #F29809;
	font-weight: 500;		
}